*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

body{
    background-color: #e5e5e5;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #FFFFFF;

    width: 100%;
    max-width: 1920px;
    height: 80px;

    .logo{

        img{
            width: 170px;
            height: 40px;
            color: #000;
        }
    }

    .search{

        input{
            font-style: nunito;
            width: 718px;          
            border: 1px solid #7A7A7A;
        }
        img{
            color: #7A7A7A;
            
        }

    }

    .btn-my-acount{

        input{
            border: none;
            background-color: #FFFFFF;
            width: 97px;
            height: 20px;
            left: 1404px;
            top: 31px;

        }

        img{

        }

    }

    .btn-minicart{

    }

    a{

    }

    img{

    }
    
}

//main

.container{
    display: flex;
    flex-direction: column;

    .secao1{

        img{
            max-width: 1920px;
            height: 430px;
        }

    }


    .secao3{
        height: 146px;
        background: #F2F2F2;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .col3{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .btn-text input{
            width: 280px;
            height: 48px;
            border-radius: 5px;
            background: #FFFFFF;
            color: #585858;
            border: none;
            font-size: 12px;
            font-style: Lato;
        }

        .btn input{
            width: 140px;
            height: 48px;
            border-radius: 5px;
            background: #000000;
            color: #FFFFFF;
            border: none;
            
        }
    }

    

    h1{
        text-align: center;
        font-style: lato;
        font-size: 22px;
    }



}

footer{
    height: 213px;
    background: #000000;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

   

    .rodape1{
        font-family: 'Nunito', sans-serif;
        

        .title{
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
        }

        
            hr{
                border-bottom: 2px solid white;
            
            }
        

        .address{
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 12px;
            padding-top: 30px;
            
            p{
                padding-bottom: 10px;
            }
        }

    }

    .rodape2{
        margin-top:  20px;

        .btn{
            width: 195px;
            height: 38px;
            background-color: white;
            margin-bottom: 15%;
            border-radius: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        input{
            border: none;
            background-color: #FFFFFF;
            font-family: 'Nunito', sans-serif;
            font-size: 12px;
            font-weight: 600;

            input[text]{
                color: red;
            }
        }

        i{
            color: black;
            margin-right: 10px;
        }
        p{
         color: black;
         font-size: 12px;
         font-weight: 600;
         font-family: 'Nunito', sans-serif;
         text-align: center;
         padding: 0;
         margin: 0;

        }

    }

    .rodape3{

        display: flex;
        flex-direction: row;
        

        img{
            width: 52.28px;
            height: 18.72px;
        }

        .logo-1{
            display: flex;
            flex-direction: column;

            .logo-core-biz{
                width: 70px;
                height: 18px;
                
            }

        }
        .logo-2{
            display: flex;
            flex-direction: column;         

            .logo-vtex{
                width: 70px;
                height: 18px;
                
            }
        }
    }
}