* {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1920px;
  height: 80px;
}

header .logo img {
  width: 170px;
  height: 40px;
  color: #000;
}

header .search input {
  font-style: nunito;
  width: 718px;
  border: 1px solid #7A7A7A;
}

header .search img {
  color: #7A7A7A;
}

header .btn-my-acount input {
  border: none;
  background-color: #FFFFFF;
  width: 97px;
  height: 20px;
  left: 1404px;
  top: 31px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .secao1 img {
  max-width: 1920px;
  height: 430px;
}

.container .secao3 {
  height: 146px;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .col3 .btn-text input {
  width: 280px;
  height: 48px;
  border-radius: 5px;
  background: #FFFFFF;
  color: #585858;
  border: none;
  font-size: 12px;
  font-style: Lato;
}

.container .col3 .btn input {
  width: 140px;
  height: 48px;
  border-radius: 5px;
  background: #000000;
  color: #FFFFFF;
  border: none;
}

.container h1 {
  text-align: center;
  font-style: lato;
  font-size: 22px;
}

footer {
  height: 213px;
  background: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .rodape1 {
  font-family: 'Nunito', sans-serif;
}

footer .rodape1 .title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

footer .rodape1 hr {
  border-bottom: 2px solid white;
}

footer .rodape1 .address {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  padding-top: 30px;
}

footer .rodape1 .address p {
  padding-bottom: 10px;
}

footer .rodape2 {
  margin-top: 20px;
}

footer .rodape2 .btn {
  width: 195px;
  height: 38px;
  background-color: white;
  margin-bottom: 15%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .rodape2 input {
  border: none;
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

footer .rodape2 input input[text] {
  color: red;
}

footer .rodape2 i {
  color: black;
  margin-right: 10px;
}

footer .rodape2 p {
  color: black;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer .rodape3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .rodape3 img {
  width: 52.28px;
  height: 18.72px;
}

footer .rodape3 .logo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .rodape3 .logo-1 .logo-core-biz {
  width: 70px;
  height: 18px;
}

footer .rodape3 .logo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .rodape3 .logo-2 .logo-vtex {
  width: 70px;
  height: 18px;
}
/*# sourceMappingURL=style.css.map */